body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(49, 49, 255);
    color: white;
  }
article{
    max-height: minmax(100, auto);
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    color: black;
    text-align: center;
}
h1:hover{
    font-weight: bold;
    color: darkorange; 
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: justify;
    padding-left: 10px;
}
h2:hover{
    color: darkorange;
}
ul{
background-color: rgb(167, 171, 230);
color: black;
list-style-type: none;
letter-spacing: normal;
padding: 5px;
}
li{
    background-color: white;
    color: black;
    padding: 5px;
}
p{
    padding-right: 10px;
    padding-left: 10px;
}
p:hover{
    background-color: rgb(10, 10, 110);
    color: white;

}
.grid-container{
  justify-content: right;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: minmax(150px, auto);
  grid-row-gap:5px;
  grid-column-gap:5px;
  justify-content:left;
  border-color: black;
}
.grid-item{
    background-color: rgb(177, 175, 231);
    border-color: black;
    text-align: center;
    padding: 2px;
    color: black;
  }
.dsmCla
